body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  color:grey;
  margin-left:40%;
}

.cards_page{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding:0 30px;
  background-color:#edede9;
}

